In [4]:
import pandas as pd
import landsatxplore.api
from landsatxplore.earthexplorer import EarthExplorer
import pickle
from env_vars import *

In [6]:
# load PKL file instead

# df = pd.read_csv("./data/dataset_index.csv")

In [7]:
# PLK file created 

# pickle.dump( df, open( "landsat_index.pkl", "wb" ) )

In [19]:
df.dtypes

SCENE_ID                object
PRODUCT_ID              object
SPACECRAFT_ID           object
SENSOR_ID               object
DATE_ACQUIRED           object
COLLECTION_NUMBER       object
COLLECTION_CATEGORY     object
SENSING_TIME            object
DATA_TYPE               object
WRS_PATH                 int64
WRS_ROW                  int64
CLOUD_COVER            float64
NORTH_LAT              float64
SOUTH_LAT              float64
WEST_LON               float64
EAST_LON               float64
TOTAL_SIZE               int64
BASE_URL                object
dtype: object

In [20]:
df2 = df[(df["CLOUD_COVER"] < 11)]

In [24]:
df2["DATE_ACQUIRED"] = pd.to_datetime(df2["DATE_ACQUIRED"])

/Users/purgatorid/.local/share/virtualenvs/data_collection-Bxb0R3Gi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
df2.dtypes

SCENE_ID                       object
PRODUCT_ID                     object
SPACECRAFT_ID                  object
SENSOR_ID                      object
DATE_ACQUIRED          datetime64[ns]
COLLECTION_NUMBER              object
COLLECTION_CATEGORY            object
SENSING_TIME                   object
DATA_TYPE                      object
WRS_PATH                        int64
WRS_ROW                         int64
CLOUD_COVER                   float64
NORTH_LAT                     float64
SOUTH_LAT                     float64
WEST_LON                      float64
EAST_LON                      float64
TOTAL_SIZE                      int64
BASE_URL                       object
dtype: object

In [27]:
df2.head()

,SCENE_ID,PRODUCT_ID,SPACECRAFT_ID,SENSOR_ID,DATE_ACQUIRED,COLLECTION_NUMBER,COLLECTION_CATEGORY,SENSING_TIME,DATA_TYPE,WRS_PATH,WRS_ROW,CLOUD_COVER,NORTH_LAT,SOUTH_LAT,WEST_LON,EAST_LON,TOTAL_SIZE,BASE_URL
3,LT52210712004218COA00,NaN,LANDSAT_5,TM,2004-08-05,PRE,NaN,2004-08-05T12:57:29.4870250Z,L1T,221,71,0.0,-14.99502,-16.89068,-49.05452,-46.84630,151454228,gs://gcp-public-data-landsat/LT05/PRE/221/071/...
4,LE71380272017208EDC00,LE07_L1TP_138027_20170727_20170822_01_T1,LANDSAT_7,ETM,2017-07-27,01,T1,2017-07-27T04:26:52.9022612Z,L1TP,138,27,6.0,48.44746,46.43352,94.36227,97.69991,217583204,gs://gcp-public-data-landsat/LE07/01/138/027/L...
5,LT51770752004214JSA00,LT05_L1TP_177075_20040801_20161130_01_T1,LANDSAT_5,TM,2004-08-01,01,T1,2004-08-01T08:27:04.3150130Z,L1TP,177,75,0.0,-20.70754,-22.60984,17.55588,19.84839,116392208,gs://gcp-public-data-landsat/LT05/01/177/075/L...
8,LT51380321995108BJC01,LT05_L1TP_138032_19950418_20170109_01_T1,LANDSAT_5,TM,1995-04-18,01,T1,1995-04-18T03:35:02.4840690Z,L1TP,138,32,0.0,41.31185,39.36069,92.06218,94.88245,138790564,gs://gcp-public-data-landsat/LT05/01/138/032/L...
13,LM50530121990090PAC00,NaN,LANDSAT_5,MSS,1990-03-31,PRE,NaN,1990-03-31T18:53:00.0590050Z,L1G,53,12,0.0,69.43790,67.00808,-122.38345,-115.29664,25448972,gs://gcp-public-data-landsat/LM05/PRE/053/012/...

In [59]:
df2.dtypes

SCENE_ID                       object
PRODUCT_ID                     object
SPACECRAFT_ID                  object
SENSOR_ID                      object
DATE_ACQUIRED          datetime64[ns]
COLLECTION_NUMBER              object
COLLECTION_CATEGORY            object
SENSING_TIME                   object
DATA_TYPE                      object
WRS_PATH                        int64
WRS_ROW                         int64
CLOUD_COVER                   float64
NORTH_LAT                     float64
SOUTH_LAT                     float64
WEST_LON                      float64
EAST_LON                      float64
TOTAL_SIZE                      int64
BASE_URL                       object
dtype: object

In [69]:
def pd_time_filter(df,year):
    return df2
[
        (df2["DATE_ACQUIRED"] 
         > (year + "-01-01")) 
        & (df2["DATE_ACQUIRED"]    
           < (year + "-12-31"))
        & (df2["NORTH_LAT"] <= -20)
    

              
    ]
    
pd_time_filter(df2,"2018").shape

(6099195, 18)

In [68]:
df2[(df2["NORTH_LAT"] <= -4)]

,SCENE_ID,PRODUCT_ID,SPACECRAFT_ID,SENSOR_ID,DATE_ACQUIRED,COLLECTION_NUMBER,COLLECTION_CATEGORY,SENSING_TIME,DATA_TYPE,WRS_PATH,WRS_ROW,CLOUD_COVER,NORTH_LAT,SOUTH_LAT,WEST_LON,EAST_LON,TOTAL_SIZE,BASE_URL
3,LT52210712004218COA00,NaN,LANDSAT_5,TM,2004-08-05,PRE,NaN,2004-08-05T12:57:29.4870250Z,L1T,221,71,0.00,-14.99502,-16.89068,-49.05452,-46.84630,151454228,gs://gcp-public-data-landsat/LT05/PRE/221/071/...
5,LT51770752004214JSA00,LT05_L1TP_177075_20040801_20161130_01_T1,LANDSAT_5,TM,2004-08-01,01,T1,2004-08-01T08:27:04.3150130Z,L1TP,177,75,0.00,-20.70754,-22.60984,17.55588,19.84839,116392208,gs://gcp-public-data-landsat/LT05/01/177/075/L...
16,LC81201092019064LGN00,LC08_L1GT_120109_20190305_20190305_01_RT,LANDSAT_8,OLI_TIRS,2019-03-05,01,RT,2019-03-05T03:05:21.1166260Z,L1GT,120,109,0.00,-68.36065,-70.80551,80.35211,87.42131,886278233,gs://gcp-public-data-landsat/LC08/01/120/109/L...
28,LC81301242017048LGN00,LC08_L1GT_130124_20170217_20170228_01_T2,LANDSAT_8,OLI_TIRS,2017-02-17,01,T2,2017-02-17T04:13:25.1179380Z,L1GT,130,124,5.03,-81.69225,-84.16949,-34.77783,-15.40505,777372235,gs://gcp-public-data-landsat/LC08/01/130/124/L...
43,LT51020812005203ASA01,NaN,LANDSAT_5,TM,2005-07-22,PRE,NaN,2005-07-22T00:51:05.0750560Z,L1T,102,81,4.00,-29.32282,-31.24727,131.17635,133.66882,118510063,gs://gcp-public-data-landsat/LT05/PRE/102/081/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15905109,LE70050652008228EDC00,LE07_L1TP_005065_20080815_20161225_01_T1,LANDSAT_7,ETM,2008-08-15,01,T1,2008-08-15T14:46:33.1338405Z,L1TP,5,65,0.00,-6.27494,-8.18225,-73.39909,-71.21341,183960353,gs://gcp-public-data-landsat/LE07/01/005/065/L...
15905140,LE72240842014290CUB00,LE07_L1TP_224084_20141017_20161101_01_T1,LANDSAT_7,ETM,2014-10-17,01,T1,2014-10-17T13:36:27.8780268Z,L1TP,224,84,5.00,-33.63190,-35.55685,-58.57108,-55.85690,207083139,gs://gcp-public-data-landsat/LE07/01/224/084/L...
15905144,LE72190662013284CUB00,NaN,LANDSAT_7,ETM,2013-10-11,PRE,NaN,2013-10-11T12:56:20.0774631Z,L1T,219,66,4.00,-7.72028,-9.62034,-44.37337,-42.17035,210710810,gs://gcp-public-data-landsat/LE07/PRE/219/066/...
15905146,LM50910731987044ASA01,NaN,LANDSAT_5,MSS,1987-02-13,PRE,NaN,1987-02-13T23:12:38.0400020Z,L1G,91,73,1.00,-17.75418,-19.77066,151.22284,153.61552,22713689,gs://gcp-public-data-landsat/LM05/PRE/091/073/...
15905152,LC80661122016077LGN01,LC08_L1GT_066112_20160317_20170328_01_T2,LANDSAT_8,OLI_TIRS,2016-03-17,01,T2,2016-03-17T21:32:58.0129830Z,L1GT,66,112,7.53,-74.05359,-72.78515,163.47693,158.88106,828391116,gs://gcp-public-data-landsat/LC08/01/066/112/L...

In [10]:
api = landsatxplore.api.API(username, password)

In [11]:
api.key

'b4eb4866c2f54792adb542956e8e4b88'

In [20]:
dir(api)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'endpoint',
 'key',
 'login',
 'logout',
 'lookup',
 'metadata',
 'request',
 'search',
 'version']

In [12]:
scenes = api.search(
    dataset="LANDSAT_8",
    latitude=-6.0563692,
    longitude=21.3259403,
    start_date='2015-01-01',
    end_date='2016-01-01',
    max_cloud_cover=10)

EarthExplorerError: EE: Dataset LANDSAT_8 is not a valid dataset.

In [ ]:
scenes

In [38]:
print('{} scenes found.'.format(len(scenes)))

7 scenes found.

In [43]:
test_scene_id = scenes[0]['entityId']

In [44]:


ee = EarthExplorer(username, password)

ee.download(scene_id=test_scene_id, output_dir='./data')

833MB [15:36, 933kB/s]

'./data/LC08_L1TP_178064_20150212_20170413_01_T1.tar.gz'